name: CMake on a single platform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    strategy:
      matrix:
        project: [design_dynamic_array, design_singly_linked_list]

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      # Configure each project in the matrix
      run: cmake -B ${{github.workspace}}/${{matrix.project}}/build -S ${{github.workspace}}/${{matrix.project}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/${{matrix.project}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/${{matrix.project}}/build
      run: ctest -C ${{env.BUILD_TYPE}} --output-on-failure
